#Universal
region = "us-east-2"
vpc_availability_zones

#Airflow
airflow_vpc_name =""
airflow_vpc_availability_zones = [
//at least three vpc_availability_zones
  "us-east-2a",
  "us-east-2b",
  "us-east-2c"
]
airflow_db_username = ""
airflow_db_password = ""
airflow_cluster_name = ""
airflow_cluster_stage = "prod"
airflow_fernet_key = ""
#airflow_s3_log_bucket =
airflow_key_pair = "jfl_airflow"
airflow_private_keypath = ".pem"
airflow_public_keypath = ".pub"
airflow_admin_email = ""
airflow_admin_lastname = ""
airflow_admin_name = ""
airflow_admin_password = ""
airflow_admin_username = ""
airflow_tags = [
]

#REDB
redb_db_allowed_cidr_blocks =  [
]
redb_db_backup_retention_period = "7"
redb_db_name = ""
redb_deletion_protection = "true"
redb_db_engine = "aurora-postgresql"
redb_db_master_username = ""
redb_db_master_password = ""
redb_db_backup_window = "02:00-03:00"
redb_db_maintenance_window = "sun:03:00-sun:05:00"
redb_db_scale_connections = "700"
redb_db_replica_scale_enabled = "true"
redb_db_replica_scale_in_cooldown = "300"
redb_db_replica_scale_out_cooldown = "300"
redb_db_replica_scale_max = "3"
redb_db_replica_scale_min = "1"
redb_tags = [
]
redb_db_instance_type = "db.r4.large"